.app.dark {
  --bg-color: rgb(0, 0, 158);
  --inverted-bg-color: rgb(207, 207, 207);

  --primary-color: rgb(19, 172, 32);
  --secondary-color: rgb(67, 189, 77);

  --inverted-primary-color: rgb(36, 25, 194);
  --inverted-secondary-color: rgb(94, 88, 185);
}
