.navbar {
  width: 100%;
  height: 50px;
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
}


